In [1]:
import pandas as pd
import numpy as np
pd.set_option('mode.chained_assignment', None)

In [2]:
data_sex = pd.read_csv('data/소년범죄_성별_전과2018.csv', index_col=0, encoding = 'cp949', engine='python')
data_repeat = pd.read_csv('data/소년범죄_재범기간_종류2018.csv', index_col=0, encoding = 'cp949', engine='python')
data_crimre = pd.read_csv('data/소년범죄자_전과_2018.csv', index_col=0, encoding = 'cp949', engine='python')

In [4]:
data_sex

,전과별(2),2018,2018.1,2018.2,2018.3,2018.4,2018.5,2018.6,2018.7,2018.8,2018.9,2018.10,2018.11
전과별(1),,,,,,,,,,,,,
전과별(1),전과별(2),합계,합계,합계,성인,성인,성인,소년,소년,소년,미상,미상,미상
전과별(1),전과별(2),계,남,여,계,남,여,계,남,여,계,남,여
합계,소계,1721102,1376363,344739,1637836,1309027,328809,66135,53872,12263,17131,13464,3667
전과있음,소계,731834,643616,88218,708555,623213,85342,22308,19556,2752,971,847,124
전과있음,1범,162407,127803,34604,155006,121656,33350,7164,5958,1206,237,189,48
전과있음,2범,112010,94298,17712,108172,91044,17128,3705,3148,557,133,106,27
전과있음,3범,82778,72332,10446,80104,69973,10131,2554,2253,301,120,106,14
전과있음,4범,62411,55711,6700,60533,54022,6511,1803,1621,182,75,68,7
전과있음,5범,49320,44723,4597,47907,43450,4457,1356,1224,132,57,49,8
전과있음,6범,38591,35651,2940,37538,34691,2847,1004,915,89,49,45,4
전과있음,7범,31311,29147,2164,30450,28353,2097,825,758,67,36,36,-
전과있음,8범,24311,22806,1505,23665,22207,1458,609,564,45,37,35,2
전과있음,9범이상,168695,161145,7550,165180,157817,7363,3288,3115,173,227,213,14
전과없음/미상,소계,989268,732747,256521,929281,685814,243467,43827,34316,9511,16160,12617,3543

In [8]:
data_sex = data_sex.drop(columns=['2018', '2018.1', '2018.2', '2018.3', '2018.4', '2018.5', '2018.9', '2018.10', '2018.11'], axis=0)